.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.show {
    display: block;
}
